# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store

# Environment 
.env

# Great Expectations generated temporary artifacts
gx/uncommitted/
great_expectations/uncommitted/